<div class="contact-container">
    <h1 data-aos="fade-left" data-aos-duration="1500" data-aos-delay="700">Contact Information</h1>

    <p data-aos="flip-down" data-aos-duration="1500" data-aos-delay="1100">
      I look forward to work in your company as an intern and work as a front-end developer.
      I am excited to learn and grow with the company.
    </p>
    <p data-aos="flip-down" data-aos-duration="1500" data-aos-delay="1100">
      <a href="mailto:ronquillomichaelarnold@gmail.com">Email: ronquillomichaelarnold&#64;gmail.com</a>
    </p>
    <p data-aos="flip-down" data-aos-duration="1500" data-aos-delay="1100">
      <span style="color: goldenrod;">Contact Number: +63 997 693 9123</span>
      <span style="color: goldenrod;">Contact Number: +63 961 610 8891</span>
    </p>

    <div class="social-links" style="margin-top: 1em;">
      <a href="https://github.com/Mayk29" data-aos="fade-up" data-aos-duration="1500" data-aos-delay="1300" target="_blank">
        <i class="fa-brands fa-github"></i>
      </a>
      <a href="mailto:ronquillomichaelarnold@gmail.com" data-aos="fade-up" data-aos-duration="1500" data-aos-delay="1500" target="_blank">
        <i class="fa-solid fa-envelope"></i>
      </a>
      <a href="https://www.facebook.com/michael.ronquillo.9279" data-aos="fade-up" data-aos-duration="1500" data-aos-delay="1400" target="_blank">
        <i class="fa-brands fa-facebook"></i>
      </a>
      <a href="https://www.linkedin.com/in/michael-ronquillo-3701b92b1/" data-aos="fade-up" data-aos-duration="1500" data-aos-delay="1500" target="_blank">
        <i class="fa-brands fa-linkedin"></i>
      </a>
    </div>

    <p class="quote" data-aos="flip-down" data-aos-duration="1500" data-aos-delay="1100">
      "I can do all things through Christ who strengthens me" (Philippians 4:13)
    </p>
</div>