<section>
  <div class="main-container">
    <div class="image" data-aos="zoom-out" data-aos-duration="3000">
      <img src="Ronquillo_pic.png" alt="Michael Ronquillo">
    </div>
    <div class="content">
      <h1 data-aos="fade-left" data-aos-duration="1500" data-aos-delay="700">
        Good day, I am <span>Michael Ronquillo</span>
      </h1>
      <div class="typewriter" data-aos="fade-right" data-aos-duration="1500" data-aos-delay="900">
        I am a <span class="typewriter-text">{{ typewriterText }}</span><label>|</label>
      </div>
      <p data-aos="flip-down" data-aos-duration="1500" data-aos-delay="1100">
        A web-development fourth year student at Holy Angel University, with proven programming skills,
        basic knowledge in languages such as Python, HTML, CSS and JavaScript, AngularJS.
        Seeking for the position of Front-end developer in your company where I can show my
        different skills in different area in your business industry.
      </p>
      <a data-aos="zoom-in" data-aos-duration="1500" data-aos-delay="1100"
         href="Ronquillo_MichaelArnold_Resume.pdf"
         class="btn--download" download target="_blank">
        Download Resume <i class="fa-solid fa-download"></i>
      </a>

      <div class="social-links" style="margin-top: 1em;">
        <a href="https://github.com/Mayk29" data-aos="fade-up" data-aos-duration="1500" data-aos-delay="1300" target="_blank">
          <i class="fa-brands fa-github"></i>
        </a>
        <a href="mailto:ronquillomichaelarnold@gmail.com" data-aos="fade-up" data-aos-duration="1500" data-aos-delay="1500" target="_blank">
          <i class="fa-solid fa-envelope"></i>
        </a>
        <a href="https://www.facebook.com/michael.ronquillo.9279" data-aos="fade-up" data-aos-duration="1500" data-aos-delay="1400" target="_blank">
          <i class="fa-brands fa-facebook"></i>
        </a>
        <a href="https://www.linkedin.com/in/michael-ronquillo-3701b92b1/" data-aos="fade-up" data-aos-duration="1500" data-aos-delay="1500" target="_blank">
          <i class="fa-brands fa-linkedin"></i>
        </a>
      </div>

      <div data-aos="zoom-in" data-aos-duration="1500" data-aos-delay="1800" style="margin-left: -2em;">
        <button>
          <a href="mailto:ronquillomichaelarnold@gmail.com" style="text-decoration: none; color: #000;">Hire me</a>
        </button>
      </div>
    </div>
  </div>
</section>
